# Data Science Tools and Ecosystem

### Data Science Tools and Ecosystem are summarized

## __Objectives__:

+ Populare langiages in Data Science
+ Commonly used Libraries in Data Science
+ Three Develeopment Environments
+ Arithmatic expression and examples

#### Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Julia
    4. Java

#### Some of the commonly used libraries used by Data Scientists include:
    
    1. NumPy
    2. SciPy
    3. Pandas
    4. Matplotlib
    5. Keras
    6. SciKit-Learn
    7. PyTorch

#### Three development environment open source tools used in data science

| development environment |
|----------|
| Anaconda   |
| R Studio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# his a simple arithmetic expression to mutiply then add integers

17

In [5]:
54

1.25

In [8]:
# This will convert 200 minutes to hours by diving by 60

total_minutes = 200
hours, minutes = divmod(total_minutes, 60)
print(f"{total_minutes} minutes is {hours} hours and {minutes}  minutes")

200 minutes is 3 hours and 20  minutes

## Author: Mohsen Goodarzi